Olá {{candidate.name}},

Sua entrevista do processo seletivo de voluntários da Brasil Cursinhos foi agendada para o dia {{time.datetime|format_datetime(pattern: "dd 'de' LLLL, EEEE, 'às' H'h'", locale: 'pt_BR')}} (horário de Brasília). A entrevista ocorre através do Google Meet no link disponível abaixo:

{{time.meet}}

A entrevista tem duração média de 15 a 30 minutos e serão realiazadas perguntas relativas as suas experiências, motivação e disponibilidade.

Não se atrase! A tolerância para o início da entrevista é de 5 minutos. Caso você tenha algum imprevisto que impeça a sua participação na data agendada, pedimos para que entre em contato pelo endereço de e-mail gestaodepessoas@brasilcursinhos.org solicitando o reagendamento.

Tenha um ótimo dia, e até breve!

Equipe Brasil Cursinhos
E-mail enviado automaticamente pelo sistema.
Por favor não responda à esta mensagem.