Olá {{user.name}},

Recebemos uma solicitação de redefinição de senha para a sua conta da Brasil Cursinhos. Caso você tenha solicitado uma redefinição de senha para a sua conta, matrícula nº {{user.registration}}, copie e cole o link abaixo no seu navegador. Se você não fez essa solicitação, apenas ignore este e-mail.

https://sistemas.brasilcursinhos.org/verificar/{{user.registration}}/{{code}}

O link tem validade de 10 minutos. Após esse prazo, caso ainda seja necessário você pode visitar a página de recuperação de senha (disponível em: https://sistemas.brasilcursinhos.org/recuperar-senha) e solicitar uma nova redefinição de senha para a sua conta.

Equipe Brasil Cursinhos
E-mail enviado automaticamente pelo sistema.
Por favor não responda à esta mensagem.