{% extends "base.html" %}

{% set includePublicHeader = true %}
{% set includePublicFooter = true %}
{% set websiteName = 'Calendário BC' %}

{% block head %}
    <title>Calendário - Brasil Cursinhos</title>
    <meta name="keywords" content="Calendário BC; Brasil Cursinhos; Cursinho Universitário Popular">
    <meta name="description" content="Calendário que reune as atividades desenvolvidas pela Brasil Cursinhos.">
    <meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
    <main class="page-content">
      <div class="home-banner">
        <div class="shadow-home-banner d-flex align-items-center">
        
        </div>
      </div>
    </main>
{% endblock main %}

