    <header><!--Barra de navegação-->
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary-color-bc">
        <div class="container-fluid">
          <a href="/"><img src="/assets/img/logos/bc-branco.png" height="40" alt="Projeto Educação Solidária - Cursinho PES"></a><a class="navbar-brand p-0 me-auto lh-1" href="/"><b class="ps-2 font-bc fs-3">{{(websiteName is defined)? websiteName:'Brasil Cursinhos'}}</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-options">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% if websiteName is not defined %}
                <a href="/entrevista/login" class="btn btn-secondary-bc ms-0 ms-lg-3" role="button"><b>Login </b><span class="material-symbols-outlined">login</span></a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header><!--/Barra de navegação-->
