{% extends "base.html" %}

{% set includePublicHeader = true %}
{% set includePublicFooter = true %}

{% block head %}
    <title>Sistemas - Brasil Cursinhos</title>
    <meta name="keywords" content="Brasil Cursinhos; Cursinho Universitário Popular">
    <meta name="description" content="Sistemas Brasil Cursinhos">
    <meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
    <main class="page-content">
      <div class="home-banner">
        <div class="shadow-home-banner d-flex align-items-center">
        
        </div>
      </div>
    </main>
{% endblock main %}

