{% extends "encup/base.html" %}

{% set includeEncupHeader = true %}
{% set includePublicFooter = true %}

{% block innerHead %}
<title>ENCUP - Brasil Cursinhos</title>
<meta name="keywords" content="ENCUP; Brasil Cursinhos">
<meta name="description" content="Encontro Nacional de Cursinhos Universitários Populares.">
{% endblock innerHead %}

{% block innerMain %}
    <main>
      <div class="encup-banner">
        <div class="shadow-encup-banner d-flex align-items-center justify-content-center">
          <div class="text-white text-center">
            <p class="fs-4">Acesse o álbum completo no Google Drive</p>
            <a href="https://drive.google.com/drive/folders/1vKUGG-5ktzuLK8Jsz3oRbDRTevoNuGEz?usp=sharing" target="_blank" class="btn btn-secondary-bc text-decoration-none"><b>Álbum do evento </b><span class="material-symbols-outlined">add_to_drive</span></a>
          </div>
          
        </div>
      </div>
    </main>
{% endblock innerMain %}