.encup-banner {
    background: url('/assets/img/encup-2022.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 550px;
}

.shadow-encup-banner{
	background-color: rgb(0, 0, 0, 0.60);
    height: 100%;
}