<header><!--Barra de navegação-->
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary-color-bc">
      <div class="container-fluid">
        <a href="/"><img src="/assets/img/logos/bc-branco.png" height="40" alt="Projeto Educação Solidária - Cursinho PES"></a><a class="navbar-brand p-0 me-auto lh-1" href="/"><b class="ps-2 font-bc fs-3">ENCUP 2023</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-options">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/eventos" id="navbar-dropdown-menu-ev" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>Galeria de fotos </b><span class="material-symbols-outlined">photo</span></a>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-menu-ev">
                <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/1-Qf8G5vtTk7_YU-rliQ-V6u3F9PmbEhN" target="_blank"><span class="material-symbols-outlined">photo</span> <b>ENCUP 2023</b></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/fotos"><span class="material-symbols-outlined">photo</span> <b>ENCUP 2022</b></a></li>
                <li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header><!--/Barra de navegação-->
