<!DOCTYPE html>
<html lang="pt-BR" id="html">
  <head>
{%  block head %}{% endblock head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#053141">
    <meta name="copyright" content="{{ 'now' | date('Y')}} Brasil Cursinhos ©">
    <meta name="author" content="Roger Eliodoro Condras">
    <meta name="creator" content="Roger Eliodoro Condras">
    <meta name="publisher" content="Roger Eliodoro Condras">
    <meta name="rating" content="general">
    <!-- Icone guia navegador -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Folhas de estilo CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/main.css?v=1.06">
  </head>
    
  <body{{ bodyClass ? " class=\"#{bodyClass}\"" | raw}}>

{%      if includePublicHeader == true %}
{%          include '@components/public-header.html' %}
{%      elseif includeRestrictedHeader == true %}
{%          include '@components/restricted-header.html' %}
{%      endif %}

{%      block main %}{% endblock main %}

{%      if includePublicFooter == true %}
{%          include '@components/public-footer.html' %}
{%      elseif includeRestrictedFooter == true %}
{%          include '@components/restricted-footer.html' %}
{%      endif %}
    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/assets/js/libs/jquery.mobile.custom.min.js"></script>
    <script src="/assets/js/default.js?v=1.07"></script>
{%  block scriptsJS %}{% endblock scriptsJS %}
  </body>
</html>