{% extends "base.html" %}

{% set mainClass = 'container text-center mt-5' %}

{% block head %}
        <title>Erro {{code}} - Brasil Cursinhos</title>
        <meta name="keywords" content="Brasil Cursinhos; Movimento de Cursinhos Universitários Populares">
        <meta name="description" content="Página de erro.">
        <meta name="robots" content="none">
{% endblock head %}

{% block main %}
<main class="d-flex align-items-center">
  <div class="w-100 text-center">
    <h1 class="mb-5 fs-1">Erro {{code}} - {{name}}</h1>
    {% if description != '' %}
            <p class="fs-4 mb-4">{{description}}</p>
{% endif %}
{% if code == '401' %}
            <p class='fs-4'><a href='/entrevista/login'><b>Clique aqui</b></a> para realizar o login.</p>
{% else %}
            <p class="fs-4"><a href='/'><b>Clique aqui</b></a> para voltar a página inicial.</p>
{% endif %}
  </div>
</main>
{% endblock main %}