{% extends "base.html" %}

{% set mainClass = 'container text-center mt-5' %}

{% block head %}
        <title>Página em construção - Cursinho PES</title>
        <meta name="keywords" content="Cursinho PES; UFSC; Curso pré-vestibular; Projeto Educação Solidária; Araranguá">
        <meta name="description" content="Página de erro.">
        <meta name="robots" content="none">
{% endblock head %}

{% block main %}
<main class="container-fluid d-flex align-items-center">
    <div class="w-100 text-center">
        <h1 class="mb-5" style="font-size: 5rem;">Página em construção!</h1>
    <p class="fs-4">A página <b>{{title}}</b> ainda está em construção e ficará disponível em breve.</p>
    <p class='fs-4'><a href="/"><b>Clique aqui</b></a> para voltar a página inicial.</p>
    </div>
    
</main>        
            
{% endblock main %}